
/* selector universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:ital,wght@0,400;0,700;0,900;1,300&family=Roboto:ital,wght@0,700;1,700&display=swap');

/* colors usados en el proyecto:
#FF5C8E
#6252C6
#54525e */


/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */


/* TRABAJO CON EL HEADER */
header{
    height: 50px;
}

/* color del contenedor de la lista menú */
.container-header-color{
    background-color: #FF5C8E;
}

#color-search{
    border-color: #E0EEF0;
    color:#fff;
}

/* "logo" */
#colorlogo{
    font-size: 32px;
    font-weight: 900;
    font-family: roboto;
    color: #fff;
}

/* imagen del banner y modificaciones */
.img-banner{
    height: 400px;
    background-image: url(../img/pexels-polina-zimmerman-3747468.jpg);
    background-size: cover;
    filter: grayscale(620%); /*filtro grayscale para img en black_and_white*/
    background-position:center;
}

/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */


/* CÓDIGO DEL MAIN */

.tamaño-main-index{
    height: 600px;
}


/* CÓDIGO frase  */

.contenedor-frase{
    padding: 50px 120px 120px 120px;
}

.frase{
    font-size: 18px;
}

.frase span{
    font-weight: bold;
    font-size: 19px;
}
/* CÓDIGO call to action  */

.contenedor-call{
    padding: 50px 120px 120px 120px;
}

.call-to-action-a{
    text-transform: capi;
    font-family: Poppins;
    font-weight: bold;
    font-size: 52px;
    text-align: right;
    line-height: 105%; /* establezco interlineado */


}

.call-to-action-b{
    text-decoration: none;
    color: #101010;
    padding: 10px;
    font-family: poppins;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    background-color: #fff;
}

.call-to-action-b:hover{
    background-color: #6252C6;
    color: #fff;
    transition: color 0.3s;
}



/* CÓDIGO DEL CALL TO ACTION */




/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */



/* CÓDIGO DEL FOOTER*/

footer{
    height: 150px;
    background-color: #54525e;
    color: #E0EEF0;
    font-weight: 700;
}

.text-footer{
    padding: 50px
}

.menu{
    height: 50px;
    margin: 0;
    padding: 0;
}

